<h2><%= @post.title %></h2>
<h3>Post Content</h3>
<p><%= @post.content %><p>

<%= link_to 'Author', blogger_path(@post.blogger) %><br>
<%= link_to 'Destination', destination_path(@post.destination) %>
<%= button_to "Like", post_path(@post), method: :save %>